{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "bin/aws-emr-runner-linux.bz2", "label": "Linux executable"},
        {"path": "bin/aws-emr-runner-macos.bz2", "label": "Macos executable"},
        {"path": "bin/aws-emr-runner-win.exe.bz2", "label": "Windows executable"}
      ]
    }],
  ]
}
